@import url(GirlChildEdu3.html)
        body{
        	background-image: url(bg2.png);
			background-repeat: no-repeat;
     	    background-attachment: fixed;
     	    background-size: 100% 100%;
     	    }   
        .headone{
           text-align: center;
           font-size: 30px;
           border: 5px solid #42f5ef;
           padding: 20px;
           background-image: url(pg1.jpg);
           background-size: cover;
     	  }
        p{
          font-size: 25px;
     	 }
     	 img{
     	 	margin-left: auto;
     	 	margin-right: auto;
     	 	display: block;
     	 	border: 5px solid #f54275;
     	 }
     	 button{
     	 	background-color: red;
     	 	border: 2px solid black;
     	 	margin: 6px;
     	 }
     	 a{
     	 	text-decoration: none;
     	 	color: black;
     	 	font-size: 20px;
     	 }