@import url(GirlChildEdu5.html)
        body{background-image: url(bg4.jpg);
	         background-repeat: no-repeat;
        	 background-attachment: fixed;
             background-size: 100% 100%
        	}
        	*{
        		color: white;
        	}
         #gce{
            font-size: 30px;
            text-align: center;
            text-shadow: 1px 2px;
            color: white;
           }
           p{
           	font-size: 25px;
           	font-family: sans-serif;
           }
          img{
          	opacity: 0.1;
          	margin-left: auto;
          	margin-right: auto;
          	display: block;
          	border: 8px outset #3cc9c5;
          }
          img:hover{
          	opacity: 1.0;
          }
          a{
          	font-size: 25px;
          	text-decoration: none;
          	background-color: #db5174;
          	font-family: sans-serif;
          	color: black;
          }
          abbr{
          	text-decoration: none;
          }
