@import url(GirlChildEdu7.html)
		body{
			background-image: url(bg7.jpg);
			background-repeat: no-repeat;
     	    background-attachment: fixed;
     	    background-size: 100% 100%;
		}
		h2{
			font-size: 30px;
			text-align: center;
		}
		p{
			font-size: 25px;
		}
		svg{
			border: 5px solid red;
		}
		abbr{
			text-decoration: none;
		}
		#head{
			text-align: left;
			color: hsl(58, 82%, 72%);
		}
		address{
			font-size: 25px;
			color: rgb(148, 227, 215);
		}
		a{
			font-size: 25px;
			text-decoration: none;
			background-color: PowderBlue;
			border: 5px outset pink;
		}
