@import url(Topic.html)
		body{
			background-image: url(td.jpg);
			background-repeat: no-repeat;
     	    background-attachment: fixed;
     	    background-size: 100% 100%;
		}
		table, th, td{
			font-size: 25px;
			color: #a5f0ac;
			padding: 13px;
			font-family: sans-serif;
			border: 2px outset black;
			border-collapse: collapse;
		}
	
		.center{
			margin-left: auto;
			margin-right: auto;
		}
		.aone{
			text-decoration: none;
			border: 4px solid black;
			color: #f27f3d;
			background-image: url(ag2.jpg);
		}
		a{
			background-image: url(ag2.jpg);
			font-size: 25px;
			text-decoration: none;
			font-family: sans-serif;
			border: 2px solid red;
		}
